#!/bin/sh
# see /usr/share/doc/bash-doc/examples in the bash-doc package

alias update='pkg upgrade'

alias open=xdg-open
alias files='am start --user 0 -n com.google.android.documentsui/com.android.documentsui.files.FilesActivity'

# reload the shell that's currently running on the terminal
alias reload='exec ${SHELL} -l'
# for some reason, this dupes `/system/bin` in $PATH

alias adbsh='adb shell'
alias bc='rlwrap -a bc'

# the only thing Windows did right /j
alias cls=clear

# prints raw text strings, unlike `echo`
alias log="printf '%s\n'"

alias ...='cd ../..'
alias ~='cd ~'
alias -- -='cd -'

alias dl='cd ~/downloads'
alias dexdl="cd $EXTERNAL_STORAGE/Download"
# I hate Samsung, but dex is a good short name
alias dex="cd $EXTERNAL_STORAGE"

# assume GNU flavor
# Android uses BSD, but perhaps Termux is more GNU?
colorflag='--color=auto'
export LS_COLORS='no=00:fi=00:di=01;31:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'

if [ -x "$PREFIX/bin/dircolors" ]; then
	test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
	alias ls="ls $colorflag"
	alias dir="dir $colorflag"
	alias vdir="vdir $colorflag"

	# `GREP_OPTIONS="--color=auto"` is deprecated, hence these
	alias grep="grep $colorflag"
	alias fgrep="fgrep $colorflag"
	alias egrep="egrep $colorflag"
fi

# v = verbose
alias lalfv='ls -alF'
alias lalf='ls -AlF'
alias la='ls -A'
alias lcf='ls -CF'
alias llf='ls -lF'
# list only directories
alias lsd="ls -lF | grep --color=never '^d'"

alias sizeof="stat -Lc'%s'"

# safer
alias cp='cp -i'
alias mv='mv -i'
alias ln='ln -i'
alias rm='rm -i'

# add an "alert" alias for long running commands.  Use like so:
#  sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# canonical hex dump; some systems have this symlinked
command -v hd > /dev/null || alias hd='hexdump -C'

alias md5=md5sum
alias sha=sha1sum
alias sha8=sha256sum # 8bit = 256 states

# intuitive map function.
# for example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map='xargs -n1'

# print each PATH entry on a separate line
alias paths='echo -e ${PATH//:/\\n}'
