#!/bin/sh
# see /usr/share/doc/bash-doc/examples in the bash-doc package

# Termux doesn't have the symlink, LMC does
alias open=xdg-open

# reload the shell that's currently running on the terminal
alias reload='exec ${SHELL} -l'
# for some reason, this dupes some `PATH` entries

alias sh='rlwrap -a sh'
alias dash='rlwrap -a dash'
alias bc='rlwrap -a bc'

# the only thing Windows did right /j
alias cls=clear

# prints raw text strings, unlike `echo`
alias log="printf '%s\n'"

alias ..='cd ..'
alias ...='cd ../..'
alias ~='cd ~'
alias -- -='cd -'

# assume GNU flavor
colorflag='--color=auto'

if [ -z "$PREFIX" ]; then
	PREFIX=/usr

	alias cbg=wl-paste
	alias cbs=wl-copy
else
	alias cbg=termux-clipboard-get
	alias cbs=termux-clipboard-set
	alias cbtts='termux-clipboard-get | termux-tts-speak'
fi
if [ -x "$PREFIX/bin/dircolors" ]; then
	test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
	alias ls="ls $colorflag"
	alias dir="dir $colorflag"
	alias vdir="vdir $colorflag"

	# `GREP_OPTIONS="--color=auto"` is deprecated, hence these
	alias grep="grep $colorflag"
	alias fgrep="fgrep $colorflag"
	alias egrep="egrep $colorflag"
fi
if [ "$PREFIX" = /usr ]; then
	unset PREFIX
fi

# v = verbose
alias lalfv='ls -alF'
alias lalf='ls -AlF'
alias la='ls -A'
alias lcf='ls -CF'
alias llf='ls -lF'
# list only directories
alias lsd="ls -lF | grep --color=never '^d'"

# safer
alias cp='cp -i'
alias mv='mv -i'
alias ln='ln -i'
alias rm='rm -i'

alias nuke_path_now='rm -rf'
alias 69=nice

# canonical hex dump; some systems have this symlinked
command -v hd > /dev/null || alias hd='hexdump -C'

# hide/show desktop files (useful when presenting).
# to-do: this should be implemented by moving all files to a tmp desktop,
# for portability

# intuitive map function.
# for example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map='xargs -n1'

# print each PATH entry on a separate line
alias paths='echo -e ${PATH//:/\\n}'


# env-specific stuff

if [ -z "$TERMUX_VERSION" ]
then
	# I hate Samsung, but dex is a good short name
	alias cdex='cd ~/Desktop'
	alias cdl='cd ~/Downloads'

	# one of @janmoesen's ProTip™s
	for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
		alias "${method}"="lwp-request -m '${method}'"
	done
else
	# user home
	alias ~u="cd $EXTERNAL_STORAGE"
	alias cdl='cd ~/downloads'
	alias cdlu="cd $EXTERNAL_STORAGE/Download"
fi
