#!/bin/sh
export HISTSIZE=64
export HISTFILESIZE="$((HISTSIZE * 2))"

# https://www.gnu.org/software/bash/manual/html_node/Bash-Variables.html#index-HISTCONTROL
export HISTCONTROL=ignoreboth:erasedups # is this POSIX-compliant?

#PROMPT_COMMAND="history -foobar; $PROMPT_COMMAND"

export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8

export EDITOR=nano
export VISUAL=nano
