#!/usr/bin/env bash
export HISTSIZE=1024
export HISTFILESIZE="$((HISTSIZE * 2))"

# https://www.gnu.org/software/bash/manual/html_node/Bash-Variables.html#index-HISTCONTROL
export HISTCONTROL=ignoreboth:erasedups

#PROMPT_COMMAND="history -foobar; $PROMPT_COMMAND"

export LANG='en_US.UTF-8'
export LC_ALL='en_US.UTF-8'
export PYTHONIOENCODING='UTF-8'

export EDITOR=vim

# highlight section titles in manual pages
export LESS_TERMCAP_md="${yellow}"

# don't clear screen after quitting a manual page
export MANPAGER='less -X';
