#set completion-ignore-case on # this is sometimes useful

set show-all-if-ambiguous on

set mark-symlinked-directories on

# more intelligent Up/Down behavior
"\e[B": history-search-forward
"\e[A": history-search-backward

set match-hidden-files off

set page-completions off

set completion-query-items 128

set visible-stats on

set skip-completed-text on

# UTF-8 support
set input-meta on
set output-meta on
set convert-meta off

# use Alt/Meta + Delete to delete the preceding word
# I would prefer ctrl + backspace
"\e[3;3~": kill-word
