# https://github.com/helix-editor/helix/pull/14356
[theme]
# https://github.com/helix-editor/helix/pull/14809
light = "omicron_light"
dark = "omicron_dark"
fallback = "dl" # for Termux

[editor]
gutters.layout = ["diagnostics", "spacer", "diff"]
# https://github.com/helix-editor/helix/pull/13206
word-completion = { enable = true, trigger-length = 3 }
cursorline = true
# I know `<space>b`, but I want to "punish" myself
# for having too many buffers
bufferline = "multiple"

# why not show `mode` via `cursor-shape` instead of status-line?
# gnome-term renders thin lines

[editor.statusline]
mode = { normal = "^", insert = "i", select = "v" }
# `total-line-numbers` is an alt for `position-percentage`.
# Despite my love for fractions, "%" is complementary
# (presentation-wise, not information-wise)
# and it's always short.
# TO-DO: replace by [scrollbar](https://github.com/helix-editor/helix/pull/5749)
# when merged.
right = [
	"diagnostics",
	"selections",
	"register",
	"position-percentage",
	"position",
	"file-encoding",
]

[editor.lsp]
enable = false
display-inlay-hints = true
inlay-hints-length-limit = 32 # half ~70char
display-progress-messages = true

[keys.normal]
"+" = "increment"
"-" = "decrement"
[keys.normal.backspace]
# zen-mode
# bug: https://github.com/helix-editor/helix/issues/13187
#z = """@\
#:set gutters.layout []<ret>\
#:set cursorline false<ret>\
#:set whitespace.render none<ret>\
#:set lsp.display-inlay-hints false<ret>\
#:set inline-diagnostics.cursor-line disable<ret>\
#:set end-of-line-diagnostics disable<ret>\
#:set statusline.diagnostics []<ret>\
#:set statusline.workspace-diagnostics []<ret>\
#"""
# toggle line-numbers;
# I now understand why Scheme is better than TOML:
# https://github.com/helix-editor/helix/issues/8853
l = """
:toggle gutters.layout \
[\"diagnostics\", \"spacer\", \"line-numbers\", \"spacer\", \"diff\"] \
[\"diagnostics\", \"spacer\", \"diff\"]
"""
c = ":toggle word-completion.trigger-length 1 3"
# useful even for hard-wrapped prose;
# also for collapsing suspiciously-long lines
w = ":toggle soft-wrap.enable"
# debug insidious Unicode shenanigans;
# also reveal malware hidden outside the view-port
s = ":toggle whitespace.render all none"
# arithmetic evaluation
e = ":! printf %%s '%{selection}' | bc -l"
p = ":toggle lsp.enable"
i = ":toggle lsp.display-inlay-hints"
[keys.select]
"+" = "increment"
"-" = "decrement"
[keys.select.backspace]
s = ":toggle whitespace.render all none"
# `|bc` is too short for a keybind
e = ":echo %sh{printf %%s '%{selection}' | bc -l}"
i = ":set lsp.display-inlay-hints false"
