[[language]]
name = "toml"
# https://github.com/tamasfe/taplo/issues/580#issuecomment-2004174721
roots = ["."]
language-servers = ["taplo"]
formatter = { command = "taplo", args = ["format", "-"] }
auto-format = true

# `indent` controlled by `rustfmt`
[language-server.rust-analyzer.config.check]
command = "clippy"
workspace = false
[language-server.rust-analyzer.config.cachePriming]
enable = false

[[language]]
name = "markdown"
# https://github.com/helix-editor/helix/issues/12594
# https://github.com/helix-editor/helix/pull/9018
#soft-wrap.enable = true
