[[language]]
name = "toml"
auto-format = true

[[language]]
name = "markdown"
# https://github.com/helix-editor/helix/issues/12594
# https://github.com/helix-editor/helix/pull/9018
#soft-wrap.enable = true
